@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
}

h1 {
  text-align: center;
  margin: 0;
  display: block;
  background-color: #b8c6db;
  width: 100%;
  height: 100%;
}

.quiz-header {
  padding: 1rem;
}

h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

button {
  background-color: #8e44ad;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
}

button:hover {
  background-color: #732d91;
}

button:active {
  transform: scale(0.98);
  background-color: #8e44ad;
}

input {
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 4px;
}

#question-text {
  width: 100%;
  /* 宽度设置为100%，使其填充其父元素 */
  height: 150px;
  /* 高度设置为150px */
  padding: 10px;
  /* 内边距设置为10px，为文本提供一些空间 */
  border: 1px solid #ccc;
  /* 边框设置为1px宽，颜色为灰色 */
  border-radius: 4px;
  /* 边框半径设置为4px，为元素提供轻微的圆角 */
  background-color: #f8f8f8;
  /* 背景色设置为浅灰色 */
  font-size: 1.2rem;
  resize: none;
  font-family: 'Poppins', sans-serif;
}

#question-text:focus {
  border-color: #0099ff;
  /* 当元素获得焦点时，边框颜色变为蓝色 */
  outline: none;
  /* 移除默认的轮廓样式 */
}

